html, body {
    font-family: 'Poppins', sans-serif;
	text-rendering: optimizeLegibility; 
    scroll-behavior: smooth;
	/* overflow-x: hidden; */
}

.navbar-light .navbar-brand { 
    color: #2F3C7E;
    text-shadow: 2px 2px #FBEAEB;
}

.navbar-light .navbar-nav .nav-link { color: #2F3C7E;}
.navbar-light .navbar-nav .active>.nav-link { color: #2F3C7E;}
.navbar-light .navbar-toggler { outline: none;}

nav { height: ;
     background-image: linear-gradient(to right, #FBEAEB, #2F3C7E);}

main  {
    background-image: linear-gradient(rgba(27, 28, 82, 0.7), rgba(0, 0, 0, 0.7)),  url("/img/header-bg-img.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    /* padding: 10rem; */
}

.border-text-one { 
    border: 1px solid #2F3C7E;
    outline: none!important;
}

.border-text-two { 
    border: 1px solid #FBEAEB;
    outline: none!important;
}

.border-text-one:hover {
    background-color: #2F3C7E;
    color: #FBEAEB;
    cursor: pointer;
}

.border-text-two:hover {
    background-color: #FBEAEB;
    color: #2F3C7E;
    cursor: pointer;
}

.donate-bg-one { background-color: #2F3C7E;}
.donate-bg-two { background-color: #FBEAEB;}

.donate-text-one, .card-title { color: #2F3C7E;}
.donate-text-two { color: #FBEAEB;}

.refugee-bg { 
    background: linear-gradient(rgba(27, 28, 82, 0.7), rgba(0, 0, 0, 0.7)), url("/img/refugee-bg.jpg") center fixed no-repeat;
    background-size: cover;
    padding-bottom: 10rem;


}

.img-donated-text {background-color: #FBEAEB;}

.bg-progress{ background-color: #2F3C7E;}

.volunteer-img { background: linear-gradient(rgba(27, 28, 82, 0.7), rgba(0, 0, 0, 0.7)), url("/img/volunteer.jpg") center fixed no-repeat;}

.upcoming-events { background: linear-gradient(rgba(27, 28, 82, 0.7), rgba(0, 0, 0, 0.7)), url("/img/img2.jpg") center fixed no-repeat;}

footer {  background: linear-gradient(rgba(27, 28, 82, 0.7), rgba(0, 0, 0, 0.7)), url("/img/footer-bg-img.jpg") center fixed no-repeat;}

textarea { resize: none;}


  
