*{
    padding: 0%;
    margin: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*header*/
/*contact*/
.contact{
    display: flex;
    height: 30px;
    background-color: black;
    color: white;
    font-size: smaller;
    font-weight: 100;
    padding-top: 10px;
    padding-left: 80px;
}
.contact li{
    display: inline;
    padding: 20px;
}

/*nav-bar*/
.nav-bar{
    display: flex;
    background-color: #ffffff;
    height: 70px;
    
    
}
.nav-name{
    float: left;
    color: #4fc0aa;
    font-size:35px;
    font-weight: 700;
    padding-left: 30px;
    margin-left: 50px;
}
.nav-list{
    float: right;
    position: absolute;
    right: 10%;
    color: gray;
}
.nav-list li {
    list-style: none;
    display: inline;
    padding: 10px 15px;
    text-align: center;
}

.nav-list li a{
    text-decoration: none;
    color: grey;
    font-size: medium;
}

.nav-list li:hover{
   font-weight: 900;
}

.nav-list button{
    border: none;
    background-color: #4fc0aa;
    padding: 5px;
    border-radius: 3px;
}

.nav-list li:active{
    color: yellow;
}

.sha{
    color: yellow;
}
